/** {
  border: 1px dashed red;
}
*/
/*.navbar {
  border: 2px solid;
  margin-right: 9%;
  margin-left: 9%;
}*/

/*.menu {
  height: 100%;
  margin-top: 10%;
  position: relative;
  font-size: 30px;
}
*/

#myModal1 {
  left: 50%;
  outline: none;
  background-color: white;
}

ul {
  height: 100%;
  display: table;
}

.modal-body li {
  text-decoration: none;
}

.rocco-menu {
  margin-top: 50%;
}

a {
  color: black;
  text-decoration: none;

}

a:visited {
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.icon-bar {
   background-color: black !important;
}